 
  .table-container {
    max-height: 400px; /* Ajusta según necesidad */
    overflow-y: auto;
    display: block;
  }
  
  .mat-table {
    width: 100% !important;
    display: block;
  }
  .mat-header {
    position: sticky;
    top: 0;
    background: white; /* Asegura que el header tenga fondo */
    z-index: 1000; /* Evita que se superponga el contenido */
  }


  .mat-header-cell,
.mat-cell {
  min-width: 150px;
  white-space: nowrap;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.mat-table {
  width: 100%;
  display: table;
}
