<div class="flex min-w-0 flex-auto flex-col bg-card p-10">

    <!-- Contenedor de título y botón alineados -->
    <div class="flex justify-center relative items-center mb-4">
        <!-- Título centrado -->
        <div class="text-2xl font-bold text-center flex-1">
            REGISTRAR MANIFIESTO DE GASTO {{titulo}}
        </div>
        <!-- Botón de salida alineado a la derecha -->
        <div class="absolute right-0">
            <button mat-flat-button style="background-color: red; color: white;" (click)="salir()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </div>
    <!---BANDEJA PROYECTOS DEL TAMBO REGISTRADOS - AUTORIZACION DE GASTOS-->
    <form [formGroup]="filterForm">
        <!-- Contenedor de formulario -->
        <div class="border p-6 rounded-lg shadow-lg">
            <!-- Grid con inputs y selects -->
            <div class="grid grid-cols-6 gap-4">

                <!-- DEPARTAMENTO -->
                <mat-form-field appearance="fill" class="col-span-1">
                    <mat-label>FECHA</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- DEPARTAMENTO -->
                <mat-form-field appearance="fill" class="col-span-1">
                    <mat-label>CLASE</mat-label>
                    <input type="text" matInput formControlName="claseDocumento">
                </mat-form-field>


                <!-- DEPARTAMENTO -->
                <mat-form-field appearance="fill" class="col-span-1">
                    <mat-label>N°</mat-label>
                    <input type="text" matInput formControlName="numeroDocumento">
                </mat-form-field>

                <!-- RECURSO--->
                <mat-form-field appearance="fill" class="col-span-2">
                    <mat-label>RAZON SOCIAL O NOMBRE</mat-label>
                    <input type="text" matInput formControlName="razonSocial">
                </mat-form-field>

                <!-- CANTIDAD -->
                <mat-form-field appearance="fill" class="col-span-1">
                    <mat-label>CONCEPTO</mat-label>
                    <input matInput type="number" formControlName="concepto">
                </mat-form-field>

                <!-- PRECIO -->
                <mat-form-field appearance="fill" class="col-span-1">
                    <mat-label>IMPORTE</mat-label>
                    <input matInput type="number" formControlName="importe">
                </mat-form-field>

                <!-- PRECIO -->
                <mat-form-field appearance="fill" class="col-span-3">
                    <mat-label>OBSERVACIONES</mat-label>
                    <input matInput type="number" formControlName="observaciones">
                </mat-form-field>
                <div class="mt-10 flex items-center space-x-3 sm:ml-2 sm:mt-0">
                    <button mat-flat-button style="background-color: #28a745; color: white;"
                        (click)="setRegistrarManifiestoG()" [disabled]="!filterForm.valid">
                        <mat-icon class="icon-size-5">add</mat-icon>
                        <span class="ml-2"></span>
                    </button>
                    <button mat-flat-button color="warn" (click)="limpiar()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                        <span class="ml-2"></span>
                    </button>

                </div>

            </div>

        </div>

    </form>

    <!-- Tabla de proyectos registrados -->
    <div class="mt-6 border p-4 rounded-lg shadow-lg relative">
        <!-- Contenedor de botones flotantes -->
        <div class="botones-flotantes">

        </div>
        <mat-table [dataSource]="dataSource" matSort class="w-full">
            <!-- item Column -->
            <ng-container matColumnDef="nr">
                <mat-header-cell *matHeaderCellDef mat-sort-header> N° </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.nr }} </mat-cell>
            </ng-container>
            <!-- Distrito Column -->
            <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.fecha }} </mat-cell>
            </ng-container>

            <!-- CUI Column -->
            <ng-container matColumnDef="clase">
                <mat-header-cell *matHeaderCellDef mat-sort-header> CLASE </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.clase }} </mat-cell>
            </ng-container>

            <!-- CUI Column -->
            <ng-container matColumnDef="nrDocumento">
                <mat-header-cell *matHeaderCellDef mat-sort-header> N° </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.nrDocumento }} </mat-cell>
            </ng-container>


            <!-- Departamento Column -->
            <ng-container matColumnDef="razonSocial">
                <mat-header-cell *matHeaderCellDef mat-sort-header> RAZON SOCIAL O NOMBRE </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.razonSocial }} </mat-cell>
            </ng-container>

            <!-- Provincia Column -->
            <ng-container matColumnDef="concepto">
                <mat-header-cell *matHeaderCellDef mat-sort-header> CONCEPTO </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.concepto }} </mat-cell>
            </ng-container>

            <!-- Provincia Column -->
            <ng-container matColumnDef="importe">
                <mat-header-cell *matHeaderCellDef mat-sort-header> IMPORTE </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.importe }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="observaciones">
                <mat-header-cell *matHeaderCellDef mat-sort-header> OBSERVACIONES </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.observaciones }} </mat-cell>
            </ng-container>



            <!-- Botón de acciones -->
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!-- Botón Editar -->
                    <button mat-icon-button color="primary" (click)="editar(row)" matTooltip="Editar Proyecto">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <!-- Botón Eliminar -->
                    <button mat-icon-button color="warn" (click)="eliminar(row)" matTooltip="Eliminar Proyecto">
                        <mat-icon>delete</mat-icon>
                    </button>


                </mat-cell>
            </ng-container>

            <!-- Encabezado de la tabla -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- Filas de datos -->
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <!-- Fila de total -->
            <mat-footer-row *matFooterRowDef="footerColumns"></mat-footer-row>

            <ng-container matColumnDef="totalLabel">
                <mat-footer-cell *matFooterCellDef colspan="5" align="right">
                    <strong>TOTAL</strong>
                </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="totalValue">
                <mat-footer-cell style="font-weight: 600;" *matFooterCellDef align="lefth">
                    S/{{ getTotalCost()}}
                </mat-footer-cell>
            </ng-container>

        </mat-table>

    </div>

</div>