<div style="padding: 0% !important;" class="flex min-w-0 flex-auto flex-col bg-card p-10">
    <!-- Contenedor de título y botón alineados -->
    <div class="flex justify-center relative items-center mb-4">
        <!-- Título centrado -->
        <div class="text-2xl font-bold text-center flex-1">
            REGISTRAR MANIFIESTO DE GASTO DE [{{titulo}}]
        </div>
        <!-- Botón de salida alineado a la derecha -->
        <div class="absolute right-0">
            <button mat-flat-button style="background-color: red; color: white;" (click)="salir()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </div>
    <!---BANDEJA PROYECTOS DEL TAMBO REGISTRADOS - AUTORIZACION DE GASTOS-->
    <form [formGroup]="filterForm">
        <!-- Contenedor de formulario -->
        <div class="border p-6 rounded-lg shadow-lg">
            <!-- Grid con inputs y selects -->
             <span style="font-weight: bold;">REGISTRAR NUEVO CONPROBANTE DE PAGO</span>
             <br> <br>
            <div class="grid grid-cols-6 gap-4">

                <!-- DEPARTAMENTO -->
                <mat-form-field appearance="fill" class="col-span-1">
                    <mat-label>FECHA</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- DEPARTAMENTO -->
                <mat-form-field appearance="fill" class="col-span-1">
                    <mat-label>CLASE</mat-label>
                    <input type="text" matInput formControlName="claseDocumento">
                </mat-form-field>


                <!-- DEPARTAMENTO -->
                <mat-form-field appearance="fill" class="col-span-1">
                    <mat-label>N° DOCUMENTO</mat-label>
                    <input type="text" matInput formControlName="numeroDocumento">
                </mat-form-field>

                <!-- RECURSO--->
                <mat-form-field appearance="fill" class="col-span-2">
                    <mat-label>RAZON SOCIAL O NOMBRE</mat-label>
                    <input type="text" matInput formControlName="razonSocial">
                </mat-form-field>

                <!-- PRECIO -->
                <mat-form-field appearance="fill" class="col-span-1">
                    <mat-label>IMPORTE (S/)</mat-label>
                    <input matInput type="number" formControlName="importe">
                </mat-form-field>

                <!-- CANTIDAD -->
                <mat-form-field appearance="fill" class="col-span-2">
                    <mat-label>CONCEPTO</mat-label>
                    <input matInput type="text" formControlName="concepto">
                </mat-form-field>


                <!-- PRECIO -->
                <mat-form-field appearance="fill" class="col-span-3">
                    <mat-label>OBSERVACIONES</mat-label>
                    <input matInput type="text" formControlName="observaciones">
                </mat-form-field>
                <div class="mt-10 flex items-center space-x-3 sm:ml-2 sm:mt-0">
                    <button mat-flat-button style="background-color: #28a745; color: white;"
                        (click)="setRegistrarManifiestoG()" [disabled]="!filterForm.valid">
                        <mat-icon class="icon-size-5">add</mat-icon>
                        <span class="ml-2"></span>
                    </button>
                    <button mat-flat-button color="warn" (click)="limpiar()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                        <span class="ml-2"></span>
                    </button>

                </div>

            </div>

        </div>

    </form>


    <!-- Tabla de proyectos registrados -->

    <div class="mt-6 border p-4 rounded-lg shadow-lg relative">
        <!-- Buscador global -->
        <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Buscar en la tabla</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Escribe para filtrar...">
            </mat-form-field>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-table">

                <ng-container matColumnDef="nr">
                    <th mat-header-cell *matHeaderCellDef> ITEM </th>
                    <td mat-cell *matCellDef="let row"> {{ row.item }} </td>
                </ng-container>

                <!-- Distrito Column -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> FECHA </th>
                    <td mat-cell *matCellDef="let row"> {{ row.fecha }} </td>
                </ng-container>

                <!-- CUI Column -->
                <ng-container matColumnDef="clase">
                    <th mat-header-cell *matHeaderCellDef> CLASE </th>
                    <td mat-cell *matCellDef="let row"> {{ row.claseDocumento }} </td>
                </ng-container>

                <!-- CUI Column -->
                <ng-container matColumnDef="nrDocumento">
                    <th mat-header-cell *matHeaderCellDef> N° </th>
                    <td mat-cell *matCellDef="let row"> {{ row.numeroDocumento }} </td>
                </ng-container>


                <!-- Departamento Column -->
                <ng-container matColumnDef="razonSocial">
                    <th mat-header-cell *matHeaderCellDef> RAZON SOCIAL O NOMBRE </th>
                    <td mat-cell *matCellDef="let row"> {{ row.razonSocial }} </td>
                </ng-container>

                <!-- Provincia Column -->
                <ng-container matColumnDef="concepto">
                    <th mat-header-cell *matHeaderCellDef> CONCEPTO </th>
                    <td mat-cell *matCellDef="let row"> {{ row.concepto }} </td>
                </ng-container>

                <!-- Provincia Column -->
                <ng-container matColumnDef="importe">
                    <th mat-header-cell *matHeaderCellDef> IMPORTE </th>
                    <td mat-cell *matCellDef="let row"> {{ row.importe }} </td>
                </ng-container>

                <ng-container matColumnDef="observaciones">
                    <th mat-header-cell *matHeaderCellDef> OBSERVACIONES </th>
                    <td mat-cell *matCellDef="let row"> {{ row.observaciones }} </td>
                </ng-container>

                <!-- Botón de acciones -->
                <ng-container matColumnDef="acciones">
                    <td *matHeaderCellDef> Acciones </td>
                    <td *matCellDef="let row">
                        <!-- Botón Editar -->
                        <button mat-icon-button color="primary" (click)="editar(row)" matTooltip="Editar Proyecto">
                            <mat-icon>edit</mat-icon>
                        </button>
                      
                        <!-- Botón Eliminar -->
                        <button mat-icon-button color="warn" (click)="eliminarRegistro(row)"
                            matTooltip="Eliminar Registro">
                            <mat-icon>delete</mat-icon>
                        </button>


                    </td>
                </ng-container>

                <!-- Encabezados y filas -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>
        </div>
        <div class="linear-totals mt-4">
            <div class="flex flex-wrap gap-4">
                <div>TOTAL IMPORTE: S/{{ getTotalCost() | number:'1.2-2' }}</div>
            </div>
        </div>

    </div>

</div>