<div class="flex min-w-0 flex-auto flex-col bg-card p-10">
    <!-- Contenedor principal -->

    <!-- Título -->
    <div class="text-center text-2xl font-bold mb-4">
        LISTA DE SOLICITUDES DE AUTORIZACION DE GASTO {{titulo}}
    </div>
    <!---BANDEJA PROYECTOS DEL TAMBO REGISTRADOS - AUTORIZACION DE GASTOS-->
    <form [formGroup]="filterForm">
        <!-- Contenedor de formulario -->
        <div class="border p-6 rounded-lg shadow-lg">
            <!-- Grid con inputs y selects -->
            <div class="grid grid-cols-4 gap-4">

                <!-- PARTIDA -->
                <!-- PARTIDA -->
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>PARTIDA</mat-label>
                    <input type="text" matInput formControlName="partidaControl" [matAutocomplete]="autoPartida">
                    <mat-autocomplete #autoPartida="matAutocomplete" (optionSelected)="onPartidaSelected($event)">
                        <mat-option *ngFor="let item of partidasFiltradas | async" [value]="item.idPartida">
                            {{ item.descripcionPartida }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>


                <!-- RECURSO--->
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>RECURSO</mat-label>
                    <input type="text" matInput formControlName="recursoControl" [matAutocomplete]="autoRecurso">
                    <mat-autocomplete #autoRecurso="matAutocomplete" (optionSelected)="onRecursoSelected($event)">
                        <mat-option *ngFor="let item of recursosFiltradas | async" [value]="item.idRecurso">
                            {{ item.nombreRecurso }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>


                <!-- TAMBO -->
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>CANTIDAD</mat-label>
                    <input matInput type="text" formControlName="cantidad">
                </mat-form-field>

                <!-- TAMBO -->
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>PRECIO</mat-label>
                    <input matInput type="text" formControlName="precio">
                </mat-form-field>

                <!-- Actions -->
                <!-- Actions -->
                <div class="mt-6 flex items-center space-x-3 sm:ml-2 sm:mt-0">
                    <button mat-flat-button color="accent" (click)="getFiltrarProyectos(true)">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:funnel'"></mat-icon>
                        <span class="ml-2">Filtrar</span>
                    </button>

                    <button mat-flat-button color="primary" (click)="limpiar()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                        <span class="ml-2">Limpiar</span>
                    </button>

                </div>
            </div>
        </div>

    </form>

    <!-- Tabla de proyectos registrados -->
    <div class="mt-6 border p-4 rounded-lg shadow-lg relative">
        <!-- Contenedor de botones flotantes -->
        <div class="botones-flotantes">

            <!-- Botón -->
            <!-- Botón mejorado -->
            <button mat-flat-button style="background-color: #0056b3; color: white;"
                (click)="registrarSolicitudAutorizacionGasto()">
                <mat-icon>add</mat-icon>
                <span class="ml-2">REGISTRAR SOLICITUD AUTORIZACIÓN DE GASTO</span>
            </button>

        </div>
        <mat-table [dataSource]="dataSource" matSort class="w-full">
            <!-- item Column -->
            <ng-container matColumnDef="item">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ITEM </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.item }} </mat-cell>
            </ng-container>
            <!-- CUI Column -->
            <ng-container matColumnDef="cag">
                <mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO AUTORIZACION GASTO </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.codigoAutorizacionGasto }} </mat-cell>
            </ng-container>

            <!-- CUI Column -->
            <ng-container matColumnDef="fechaRegistro">
                <mat-header-cell *matHeaderCellDef mat-sort-header> FECHA REGISTRO </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.fechaRegistro }} </mat-cell>
            </ng-container>


            <!-- Departamento Column -->
            <ng-container matColumnDef="cantidadRecursos">
                <mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD RECURSOS </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.cantidadRecursos }} </mat-cell>
            </ng-container>

            <!-- Estado Column -->
            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.nombreEstado }} </mat-cell>
            </ng-container>

            <!-- Botón de acciones -->
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!-- Botón Editar -->
                    <button mat-icon-button color="primary" (click)="editar(row)" matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <!-- Botón Eliminar -->
                    <button mat-icon-button color="warn" (click)="eliminarAutorizacion(row)" matTooltip="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <!-- Botón Solicitar -->
                    <button mat-icon-button color="accent" (click)="solicitarAutorizacion(row)" matTooltip="Solicitar"
                        matTooltipPosition="above">
                        <mat-icon>send</mat-icon>
                    </button>

                    <!-- Botón aporbar -->
                    <button mat-icon-button color="primary" (click)="aprobarSupervisor(row)" matTooltip="Aprobar"
                        matTooltipPosition="above">
                        <mat-icon>check</mat-icon>
                    </button>
                    <!-- Botón para Cargar Partidas y Precios Unitarios -->
                    <button mat-icon-button color="accent" (click)="descargarAutorizacion(row)"
                        matTooltip="Descargar Autorizacion de Gasto">
                        <mat-icon>download</mat-icon>
                    </button>

                </mat-cell>
            </ng-container>

            <!-- Encabezado de la tabla -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- Filas de datos -->
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>


        <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
            (page)="onPaginateChange($event)" showFirstLastButtons>
        </mat-paginator>
    </div>

</div>