<div class="flex min-w-0 flex-auto flex-col bg-card p-10">
  <!-- Título y botón de salir -->
  <div class="flex justify-center relative items-center mb-4">
    <div class="text-2xl font-bold text-center flex-1">
      ANALIZAR AUTORIZACIÓN DE GASTO [{{idAutorizacionGasto}}] - {{ titulo }}
    </div>

    <div class="absolute right-0">
      <button mat-flat-button style="background-color: red; color: white;" (click)="salir()">
        <mat-icon>exit_to_app</mat-icon> Salir
      </button>
    </div>

  </div>
  <div style="display: flex; align-items: center; gap: 8px;">
    <span>&nbsp; &nbsp; &nbsp; &nbsp; {{cidEstadoAutorizacionGasto}}-{{estadoAutorizacionGasto}}:
      {{observacionAutorizacionGasto}}</span>
  </div>
  <!-- Filtro -->
  <div class="mt-6 border p-4 rounded-lg shadow-lg relative">
    <div class="mb-4 flex justify-between">
      <mat-form-field appearance="outline">
        <mat-label>Buscar recurso</mat-label>
        <input matInput (keyup)="aplicarFiltro($event)" placeholder="Escribe el nombre del recurso">
      </mat-form-field>

      <div class="flex flex-col px-8 pb-4">
        <div class="flex items-center gap-2 mb-2">
          <mat-icon [svgIcon]="'heroicons_outline:paper-clip'"></mat-icon>
          <span class="font-semibold text-sm">SUSTENTO</span>
        </div>
        <!-- Lista de archivos -->
        <div *ngFor="let file of selectedFiles; let i = index"
          class="flex items-center gap-2 text-sm text-gray-700 mb-1">
          <span class="truncate w-52" [matTooltip]="file.name" matTooltipPosition="above">{{ file.name }} </span>
          <button (click)="descargarArchivo(file)">
            <mat-icon>download</mat-icon>
          </button>
          <!---    <button mat-icon-button (click)="removeFile(i)">
            <mat-icon>close</mat-icon>
          </button>-->
        </div>
      </div>
      <!--APROBAR SUPERS--->
      <button *ngIf="!isResidente && isSupervisor && (cidEstadoAutorizacionGasto == '002')" mat-flat-button
        color="primary" (click)="aprobarAutorizacion()">
        <mat-icon>check_circle</mat-icon>
        <span class="ml-2">Aprobar Autorización</span>
      </button>
      <!--APROBAR PEP--->
      <button *ngIf="isPEP && (cidEstadoAutorizacionGasto == '004')" mat-flat-button
        color="primary" (click)="aprobarAutorizacionAdmin()">
        <mat-icon>check_circle</mat-icon>
        <span class="ml-2">Aprobar Autorización</span>
      </button>

      <!--SOLICCTAR RES PEP--->
      <button *ngIf="isResidente && (cidEstadoAutorizacionGasto == '001')" mat-flat-button color="primary"
        (click)="solicitarAutorizacion()">
        <mat-icon>check_circle</mat-icon>
        <span class="ml-2">Solicitar Autorización de Gasto</span>
      </button>

      <button *ngIf="(isSupervisor || isPEP) && cidEstadoAutorizacionGasto !== '003' && cidEstadoAutorizacionGasto !== '005'"
        mat-flat-button style="background-color: rgb(20, 19, 19); color: white;" (click)="observar()">
        <mat-icon>feedback</mat-icon>
        <span class="ml-2">Observar Preliquidacion</span>
      </button>

    </div>

    <!-- Tabla -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-table">

        <!-- Column Groups -->
        <thead>
          <tr>
            <th></th> <!-- RECURSO -->
            <th></th> <!-- UND -->
            <th colspan="2" class="group-cell">ASIGNADO</th>
            <th colspan="3" class="group-cell">ACUMULADO</th>
            <th colspan="2" class="group-cell">SALDO</th>
            <th colspan="4" class="group-cell">SOLICITUD DE AUTORIZACIÓN ACTUAL</th>
            <th colspan="2" class="group-cell"></th>
          </tr>
        </thead>

        <!-- Column headers -->
        <ng-container matColumnDef="recurso">
          <th mat-header-cell *matHeaderCellDef> RECURSO </th>
          <td mat-cell *matCellDef="let row"> {{ row.nombreRecurso }} </td>
        </ng-container>

        <!-- UND -->
        <ng-container matColumnDef="und">
          <th mat-header-cell *matHeaderCellDef> UND </th>
          <td mat-cell *matCellDef="let row"> {{ row.unidad }} </td>

        </ng-container>

        <!-- MONTO TOTAL ASIGNADO -->
        <ng-container matColumnDef="monto_total_asignada">
          <th mat-header-cell *matHeaderCellDef> MONTO TOTAL ASIGNADO </th>
          <td mat-cell *matCellDef="let row"> {{ row.montoTotalAsignado | number:'1.2-2' }} </td>
        </ng-container>

        <!-- CANTIDAD TOTAL ASIGNADA -->
        <ng-container matColumnDef="cantidad_total_asignada">
          <th mat-header-cell *matHeaderCellDef> CANTIDAD TOTAL ASIGNADA </th>
          <td mat-cell *matCellDef="let row"> {{ row.cantidadTotalAsignada }} </td>

        </ng-container>

        <ng-container matColumnDef="cantidad_solicitada">
          <th mat-header-cell *matHeaderCellDef> CANTIDAD SOLICITADA ACUMULADO </th>
          <td mat-cell *matCellDef="let row"> {{ row.cantidadSolicitadaAcumulado }} </td>
        </ng-container>

        <ng-container matColumnDef="parcial_segun_cotizacion">
          <th mat-header-cell *matHeaderCellDef> PARCIAL SEGUN COTIZACION ACUMULADO </th>
          <td mat-cell *matCellDef="let row"> {{ row.parcialCotizacionAcumulado }} </td>
        </ng-container>

        <!-- MONTO RESTANTE -->
        <ng-container matColumnDef="monto_restante">
          <th mat-header-cell *matHeaderCellDef> MONTO TOTAL RESTANTE </th>
          <td mat-cell *matCellDef="let row"> {{ row.montoTotalRestante | number:'1.2-2' }} </td>

        </ng-container>

        <!-- CANTIDAD RESTANTE -->
        <ng-container matColumnDef="cantidad_restante">
          <th mat-header-cell *matHeaderCellDef> CANTIDAD TOTAL RESTANTE </th>
          <td mat-cell *matCellDef="let row"> {{ row.cantidadTotalRestante }} </td>

        </ng-container>

        <!-- CANTIDAD (editable) -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> CANTIDAD </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <input [disabled]="isResidente" matInput type="number" [(ngModel)]="row.cantidadActual"
              [ngModelOptions]="{standalone: true}" class="w-full px-2 py-1 border rounded" />
          </td>

        </ng-container>

        <!-- PRECIO UNITARIO (editable) -->
        <ng-container matColumnDef="precio_unitario">
          <th mat-header-cell *matHeaderCellDef> PRECIO UNITARIO </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <input [disabled]="isResidente" matInput type="number" [(ngModel)]="row.precioActual"
              (blur)="recalcularTotal(i)" [ngModelOptions]="{standalone: true}"
              class="w-full px-2 py-1 border rounded" />
          </td>

        </ng-container>

        <!-- TOTAL CALCULADO -->
        <ng-container matColumnDef="total_calculado">
          <th mat-header-cell *matHeaderCellDef> TOTAL CALCULADO </th>
          <td mat-cell *matCellDef="let row">
            <input matInput type="number" [value]="row.totalCalculadoActual" disabled
              class="w-full px-2 py-1 border rounded bg-gray-100" />
          </td>

        </ng-container>

        <!-- MONTO UTILIZADO -->
        <ng-container matColumnDef="monto_utilizado">
          <th mat-header-cell *matHeaderCellDef> MONTO UTILIZADO </th>
          <td mat-cell *matCellDef="let row"> {{ row.montoUtilizado | number: '1.2-2' }} </td>

        </ng-container>

        <!-- PORCENTAJE -->
        <ng-container matColumnDef="porcentaje">
          <th mat-header-cell *matHeaderCellDef> PORCENTAJE % </th>
          <td mat-cell *matCellDef="let row"
            [ngStyle]="{ 'font-weight': 'bold', 'color': getTextColor(row.colorEstado) }">
            {{ row.porcentajeUso }} %
          </td>

        </ng-container>

        <!-- ACCIONES -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn" (click)="eliminar(row)" matTooltip="Eliminar Recurso">
              <mat-icon>delete</mat-icon>
            </button>
          </td>

        </ng-container>

        <!-- Encabezados y filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- Totals Section -->

    </div>
    <!-- Linear Totals Section -->
    <div class="linear-totals mt-4">
      <div class="flex flex-wrap gap-4">
        <div>TOTAL CALCULADO: {{ calcularTotalCalculado() | number:'1.2-2' }}</div>
      </div>
    </div>
  </div>

  <div class="mt-6 border p-4 rounded-lg shadow-lg relative">
    <!-- Tabla -->
    <div class="table-container">
      <table #tablaRubrosAdicionales mat-table [dataSource]="rubrosAdicionales" class="mat-table">
        <!-- Column headers -->
        <ng-container matColumnDef="recurso">
          <th mat-header-cell *matHeaderCellDef> RUBRO </th>
          <td mat-cell *matCellDef="let row"> {{ row.nombreMontoRubroAdicionales }} </td>
        </ng-container>
        <!-- UND -->
        <ng-container matColumnDef="valor_financiado">
          <th mat-header-cell *matHeaderCellDef> VALOR
            FINANCIADO
            S/
          </th>
          <td mat-cell *matCellDef="let row"> {{ row.monto }} </td>

        </ng-container>
        <!-- UND -->
        <ng-container matColumnDef="actual">
          <th mat-header-cell *matHeaderCellDef> ACTUAL (S/)
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <input [disabled]="isResidente" matInput type="number" [(ngModel)]="row.actual"
              [ngModelOptions]="{standalone: true}" class="w-full px-2 py-1 border rounded"
              (blur)="recalcularTotalmontos(row)" />
          </td>
        </ng-container>

        <!-- MONTO TOTAL ASIGNADO -->
        <ng-container matColumnDef="porcentaje_actual">
          <th mat-header-cell *matHeaderCellDef>(%)
          </th>
          <td mat-cell *matCellDef="let row">
            <input matInput type="number" [value]="row.porcentajeActual" disabled
              class="w-full px-2 py-1 border rounded bg-gray-100" />
          </td>
        </ng-container>

        <!-- CANTIDAD TOTAL ASIGNADA -->
        <ng-container matColumnDef="acumulado">
          <th mat-header-cell *matHeaderCellDef> ACUMULADO (S/) </th>
          <td mat-cell *matCellDef="let row"> {{ row.cantidadAsignado }}
            <input matInput type="number" [value]="row.cantidadAsignado" disabled
              class="w-full px-2 py-1 border rounded bg-gray-100" />
          </td>
        </ng-container>

        <ng-container matColumnDef="acumulado_porcentaje">
          <th mat-header-cell *matHeaderCellDef>(%)
          </th>
          <td mat-cell *matCellDef="let row"> {{ row.cantidadUtilizadoAcumulado }}
            <input matInput type="number" [value]="row.cantidadUtilizadoAcumulado" disabled
              class="w-full px-2 py-1 border rounded bg-gray-100" />
          </td>
        </ng-container>

        <ng-container matColumnDef="restante">
          <th mat-header-cell *matHeaderCellDef> RESTANTE </th>
          <td mat-cell *matCellDef="let row">
            <input matInput type="number" [value]="row.restante" disabled
              class="w-full px-2 py-1 border rounded bg-gray-100" />
          </td>
        </ng-container>

        <!-- ACCIONES -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn" (click)="eliminar(row)" matTooltip="Eliminar Recurso">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="mat-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
    </div>

  </div>
</div>